    <header>
        <div class="headercontainer">
            <div class="namebox">
                <a href="index.handlebars">
                    <h1>Newsline...</h1>
                </a>
            </div>
            <nav>
                <button class="topnav">Clear All Articles</button>
                <a href="index.handlebars"><button class="topnav">>> MORE ARTICLES</button></a>
            </nav>
        </div>
    </header>

    <div id="container1b" class="w3-card">
        <h2>My Saved Articles</h2>
        <hr>
    </div>

    <div id="container2b">

    </div>

    <footer>
        <span>&copy; 2019 L. Elias</span>
    </footer>

    <script src="/assets/saved.js"></script>
